 /*****************
BODY
*****************/

* {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
}

body {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0;
   font-family: "Open Sans", sans-serif; 
   background-color: #b0e0e6;
   font-size: 1em;
   padding-top: 210px;

}

a {
  color: black;
}

#feed {
  
  margin: 10px auto;s

}



#arrow {
  float: right;
  margin-right: 20px;
  position: relative;
  bottom: 18px; 
  width: 50px;
  height: 50px;
  padding-top: 15px;
  margin-top: -30px;
}

.fa-arrow-circle-up {
  font-size: 2em;
  color: red; 
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
} 

.topDiv {
    background-color: white;
    height: 90px;
    /*margin-top: -270px;*/
    position: fixed;
    z-index: 5;
    width: 100%;
    box-shadow: 0 1px 4px rgb(0,0,0);
    top: 0;

}

.advert {

    height: 100px;
    margin-top: -180px;
    margin-bottom: 180px;
    width: 100%;
    text-align: center;
}

.advert2{
    height: 100px;
    width: 100%;
    top: 0;
    clear: both;
    text-align: center;

}

.blurb1 {
  position: relative;
  bottom: 150px;
  text-align: center;
  font-size: 1em;
}

.blurb1 h2{
  font-size: 1.2em;
}

.blurb { 
    text-align: center;
    margin-top: -110px; 
    margin-bottom: 20px;
}

.blurb2 { 
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 30px;
    background:rgba(10,100,70,0.7);
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
   
}

.blurb2 p {
  font-size: .9em;
  color: white;
}


.blurb p { 
  
    color: black;
    font-size: .8em;
    text-align: center;
    margin-top: 90px;

}

#wrapper {
  background-color: #b0e0e6;
  margin-top: 75px;
}


.flag img {
/*  background-image: url(../img/zimFlag.png);*/
  float: right;
  border: 2px white solid;
  margin-right: 60px;
  border-radius: 50px;
  height: 40px;
  width:  40px;
  position: relative;
  bottom: 50px;
  transition: .4s;
}

.flag img:hover{
  transform: scale(1.2, 1.2);
}



h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-size: 1.4em;
    margin-top: 12px;
    position: relative;
    right: 50px;
}


.zim {
   
    color: white;
    font-size: 1em;
    margin-top: 12px;
    position: relative;
    left: -1px;
    top:   -.5px;
    background-color: green;
    border: 4px orange solid;
    padding: 5px;
    border-radius: 50%;

}

.new{
  color: orange;
  font-size: 2em;
  margin-left: -10px;
}

/*******

SEARCHER

******/

input {
  font-size: 16px;
  border-radius: 5px;
  margin: 30px auto;

}

.input {
  height: auto;
  margin-top: -160px;
  padding: 0;
  text-align: center;

}

#search_input {
  width: 80%;
  height: 35px;
  background: white;
  padding-left: 2%;

  font-size: 1em;
}

ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    background-color: grey;
    width: 10%;
}


input[type="text"] {
    width: 50%;
    height: 30px;
    font-size: 1em;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black; 
}

input:hover {
    transition: border .3s ease 0s, box-shadow .3s ease 0s, background .3s ease 0s;
    outline: none;
    border: 1px solid black;
    box-shadow: 3px 3px 15px grey;
    
}


 .input .fa-search {
  color: #83C891;
  position: relative;
  top: 1px;
  right: 30px;
}



.mainLine2 {
  width: 40%;
  margin: 0 auto;
  font-size: 2em;
  font-weight: bold;
}


footer {

  color: black;
  font-weight: bold;
  
  text-align: center;
  clear: both;
  font-size: .8em;
  padding: 5px;
  margin-top: 0;
  height: auto;

}


footer p {
   background:rgba(10,30,30,0.3);
  font-size: .6em;
  padding: 2px;
  color: black;

}

.fa-envelope-o {
  padding: 1px;
  border-radius: 3px;
  font-size: 1.8em;
  color: #800080; 
}



.emailList {
  margin-top: 20px; 
  margin-bottom: 20px; 
  text-align: center;
}


/******************
Light Gallery - images
*******************/

#lightgallery  {
 text-align: center;
  margin: 0 auto;
}

#lightgallery a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px; 
    color: black;   
    width: 30%;
    font-size: .8em;
    text-decoration: none; 
  
}


.lightbox p {
  padding-top: 10px;
}

.lightbox .newZim,
.lightbox .radio,
.lightbox .gazette,
.lightbox .manica{
   font-size: .8em;
   width: 100%;
}

.lightbox p:hover {
  transition: .3s ease 0s;
  color: orange;
  transform: scale(1.1, 1.1);
}


#lightgallery img {
   margin-left: 10px;
   display: inline-block;
   width: 85px;
   height: 60px;
   padding: 2px;
   border: 1px grey solid;
   border-radius: 20px;
   display: inline-block;
   -webkit-box-shadow:  3px 3px 15px black;
   -moz-box-shadow: 3px 3px 15px black;
   box-shadow: 3px 3px 15px black;
   transition: all 0.5s ease-out;
}

 

#lightgallery img:hover {
/*transform:skewY(1.5deg);*/
transform: scale(1.1, 1.1);
 -webkit-transition:  all 0.5s ease-out; /* For Safari 3.1 to 6.0 */

}

/*******************

SKYSCRAPPER

********************/


#skyscrapper {
  display: none;
}

.advert,
.advert2,
#skyscrapper{
  border: 1px solid white;
  background-color: #DCDCDC;  
}

.placer,
.placer2,
.placerSkycrapper{
  padding-top: 30px;
  font-size: 1.7em;
  font-style: italic;
  color: #E8E8E8;
}

.placer2{
  color: #E8E8E8;
}

.placerSkycrapper{
  margin-left: 20px;
}



/*************
FOOTER
******************/


footer {
  height: 50px;
  text-align: center;
  width: 100%;
}






/***********
Media Queries
************/

@media screen and (min-width: 374px) {


    
#lightgallery a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;       
}


#lightgallery img {
   width: 100px;
   height: 70px;
   margin-left: 10px;
 
}


}

@media screen and (min-width: 405px) {


    
#lightgallery a {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;       
}


#lightgallery img {
   width: 100px;
   height: 90px;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 1.4em;
    margin-top: 20px;
    position: relative;
    right: 70px;
}


}


@media screen and (min-width: 500px) {


#lightgallery img {
   width: 110px;
   height: 80px;
   margin-left: 10px;
  border-radius: 20px;
   display: inline-block;
   -webkit-box-shadow:  3px 3px 15px black;
   -moz-box-shadow: 3px 3px 15px black;
   box-shadow: 3px 3px 15px black;
}


#lightgallery a {
  
    font-size: .9em;
 
}


.lightbox .newZim,
.lightbox .radio,
.lightbox .gazette,
.lightbox .manica{
   font-size: .9em;
   width: 100%;
}


}

@media screen and (min-width: 570px) {
 

  .flag img {
    margin-right: 100px;
    position: relative;
    top: -62px;
    height: 50px;
    width: 50px;

  }

  h1 {
    margin-top: 15px;
  }

.zim {
   
    color: white;
    font-size: 1.4em;
    margin-top: 10px;
    position: relative;
    left: -2px;
    top:   -.6px;
    background-color: green;
    padding: 10px;
    border-radius: 50%;

}

#search_input {
  width: 40%;
  height: 35px;
  background: white;
  padding-left: 2%;

  font-size: 1em;
}

#lightgallery img {
  
   width: 120px;
   height: 90px;
   margin-left: 10px;
   border-radius: 20px;
   display: inline-block;
   -webkit-box-shadow:  3px 3px 15px black;
   -moz-box-shadow: 3px 3px 15px black;
   box-shadow: 3px 3px 15px black;
}

#lightgallery {
  width: 75%;
  float: left;
}

#skyscrapper{

  float: right;
  width: 24%;
  height:100vh;
  margin-right: 2px;
  padding: 3px;
  display: block;
  clear: both;
 
}



.lines {
  display: none;
}

}


@media screen and (min-width: 737px) {

.lines {
  display: block;
}

#feed{
  width: 49.5%;

}

.feed1{
  float: left;
}

.feed2{
  float: right;
  margin-left: 5px;
}

.blurb1 h2{
  font-size: 1.4em;
}

.blurb p{
  font-size: .9em;
}


.blurb2 {
    /*margin-top: 30px;*/
  }

p {
    max-width: 800px;
    margin: 0 auto
  }

input[type="text"] {
    max-width: 230px;
  }

/***********

GALLERY
***********/



  #lightgallery {
    list-style: none;
    padding: 10px;
    margin: 0 auto; 
}

 #lightgallery a {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;  
    width: 180px;
}

#lightgallery img {
   width: 150px;
   height: 100px;
  
}

.lightbox p {

  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 1em;
  transition: .5s;
}




.lightbox .newZim,
.lightbox .radio,
.lightbox .gazette,
.lightbox .manica{
   font-size: 1em;
   width: 100%;
}



}




